<?xml version="1.0"?>
<ruleset name="FIN-CLI">
	<description>FinPress Coding Standards for FIN-CLI</description>

	<!-- Show sniff codes in all reports, and progress while running -->
	<arg value="sp"/>
	<!-- Check all PHP files in directory tree by default. -->
	<arg name="extensions" value="php"/>
	<!-- Run different reports -->
	<arg name="report" value="full"/>
	<arg name="report" value="summary"/>
	<arg name="report" value="source"/>

	<file>.</file>
	<exclude-pattern>*/.git/*</exclude-pattern>
	<exclude-pattern>*/bin/*</exclude-pattern>
	<exclude-pattern>*/vendor/*</exclude-pattern>

	<rule ref="PHPCompatibility">
		<!-- Polyfill package is used so array_column() is available for PHP 5.4- -->
		<exclude name="PHPCompatibility.PHP.NewFunctions.array_columnFound"/>
		<!-- Both magic quotes directives set in fin-settings-cli.php to provide consistent starting point. -->
		<exclude name="PHPCompatibility.PHP.DeprecatedIniDirectives.magic_quotes_runtimeDeprecatedRemoved"/>
		<exclude name="PHPCompatibility.PHP.DeprecatedIniDirectives.magic_quotes_sybaseDeprecatedRemoved"/>
	</rule>
	<config name="testVersion" value="5.4-"/>

	<rule ref="FinPress-Core">
		<exclude name="Squiz.PHP.DisallowMultipleAssignments.Found" />
		<exclude name="FinPress.NamingConventions.ValidVariableName.NotSnakeCaseMemberVar" />
		<exclude name="FinPress.NamingConventions.ValidVariableName.MemberNotSnakeCase" />
		<exclude name="FinPress.NamingConventions.ValidVariableName.NotSnakeCase" />
    <exclude name="FinPress.NamingConventions.ValidFunctionName.FunctionNameInvalid" />
    <exclude name="FinPress.PHP.YodaConditions.NotYoda" />
	</rule>
	<rule ref="FinPress.Files.FileName">
		<properties>
			<property name="strict_class_file_names" value="false"/>
		</properties>
		<exclude name="FinPress.Files.FileName.NotHyphenatedLowercase" />
	</rule>
</ruleset>
